.image-container {
    position: relative;
    overflow: hidden;
    height: 300px;
}
.image-responsive {
    height: 100%;
    transition: transform 1s ease; 
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    opacity: 0; 
    transition: opacity 1s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}
.card-content {
    border: 1px solid var(--border-color);
    border-top: none;
    padding: 1rem;
}
.gallery-card:hover .image-responsive {
    transform: scale(1.1); 
}
.gallery-card:hover .gradient-overlay {
    opacity: 1; 
}
.btn-search{
    padding: 8px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--dark-color);
    background-color: var(--secondary-color);
}