.address-item {
    padding: 2rem;
    border: 1px solid var(--text-light-color);
    text-align: center;
    font-family: var(--nunito-font);
}
.address-item p {
    font-family: var(--nunito-font);
    color: var(--text-light-color);
}
.contact-form {
    padding: 1rem;
    border: 1px solid var(--text-light-color);
    background-color: var(--secondary-color);
    z-index: 999;
}
.contact-form form input,
select,
textarea {
    position: relative;
    width: 100%;
    padding: 20px;
    border: 2px solid var(--text-light-color);
}

@media (min-width: 992px) {
    .contact-form {
        padding: 2rem;
    }
}