/* common  */
.link:hover {
    color: var(--primary-color);
    transition: color .3s ease-in-out;
}

.title {
    padding-left: .5rem;
    border-left: 2px solid var(--primary-color);
}

input,
textarea {
    border: 2px solid var(--bg-light);
    background-color: transparent;
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
}

/* ---------sidbar starts--------------- */
.sidebar{
    padding-left: 2rem;
}
.product-image {
    height: 70px;
    width: 100%;
}
.star span {
    font-size: 1rem;
    color: rgb(253, 161, 14);
}
.price {
    color: var(--primary-color);
    font-weight: 600;
}
.prev-price {
    color: var(--primary-color);
    text-decoration: line-through;
}
.social-link a {
    color: var(--primary-color);
    background-color: var(--bg-light);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    border: 2px solid #e4ecf2;
}
/* ---------sidbar ends--------------- */

.details{
    padding: 0 0 2rem 2rem;
}
.property-feature span{
    padding: .5rem;
    color: var(--primary-color);
    background-color: var(--bg-light);
}
.details h4{
    color: var(--dark-color);
}
.details p{
    color: var(--text-light-color);
    font-weight: 500;
}
