/* reset styles  */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5A3C;
    --secondary-color: #fff;
    --bg-light: #F5DFDC;
    --dark-color: #071C1F;
    --section-bg: #F2F6F7;
    --text-light-color: #5C727D;
    --footer-bg: #171B2A;
    --bottom-footer-bg: #282B38;

    /* ---------------typography------------ */
    /* headings  */
    --heading-1: 1.5rem;
    --heading-3: 1.125rem;
    --popins-font: 'Poppins', sans-serif;
    --nunito-font: "Nunito Sans", serif;

    /* paragraph  */
    --text-20: 1.25rem;
    --text-base: 1rem;
    --text-14: 0.875rem;

    --header-shadow: 0 10px 20px 0 rgba(46, 56, 220, 0.2);
    --services-card-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
    --properties-card-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
    --aminities-card-shadow: 0 16px 32px 0 rgba(80, 117, 123, 0.1);
    --arrow-btn-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    --blog-card-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
}

.body-font-family {
    font-family: "Nunito Sans", serif;
}

.my-container {
    max-width: 1280px;
    margin: 0 auto;
}

/* anchor color inherit  */
a {
    color: inherit;
}

/* color pallate  */
.text-dark {
    color: var(--dark-color)
}

.text-light {
    color: var(--text-light-color)
}

.white-color {
    color: var(--secondary-color)
}

.orange-bg-color {
    color: var(--primary-color);
}

.orange-text-color {
    color: var(--primary-color);
}

.bg-light {
    background-color: var(--bg-light);
}

.section-bg {
    background-color: var(--section-bg);
}

.navlinks-color {
    color: #071c1f;
}

/* flex  */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

/* verticall alignment center flex/grid  */
.align-center {
    align-items: center;
}

/* horizontally alignment between flex/grid  */
.justify-between {
    justify-content: space-between;
}

/* horizontally alignment center flex/grid  */
.justify-center {
    justify-content: center;
}

/* horizontally alignment right flex/grid  */
.justify-end {
    justify-content: end;
}

.section-name {
    background-color: var(--bg-light);
    color: var(--primary-color);
    font-family: var(--popins-font);
    padding: 5px 20px;
    border-radius: 1.5rem;
    display: inline-block;
}

/* typography  */

/* font-size  */
.section-title {
    font-size: var(--heading-1);
    font-family: var(--popins-font);
    font-weight: 700;
}

.heading-3 {
    font-size: var(--heading-3);
    font-weight: 700;
    font-family: var(--popins-font);
}

/*btn classes*/

/* //todo font and padding to update  */

/* base btn class  */
.btn {
    position: relative;
    font-size: 1rem;
    padding: 12px 25px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    outline: none;
    font-family: var(--popins-font);
}

.btn-primary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-secondary {
    background-color: var(--light-color);
    border: 1px solid balck;
}

.btn-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    border: none;
    outline: none;

}

.btn-primary::before {
    background: var(--primary-color);
}

.btn-secondary::before {
    background: var(--secondary-color);
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--secondary-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    color: black;
    border: 1px solid black;
}

.btn:hover::before {
    transform: translateX(0);
}

.btn span {
    position: relative;
    z-index: 1;
}

.para-md-size {
    font-size: 1.25rem;
}

.font-bold {
    font-weight: 700;
}

.profile-rounded {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

/* header section starts here  */
header {
    background-color: var(--secondary-color);
    font-family: var(--popins-font);
    box-shadow: var(--header-shadow);
}

header figure {
    margin: 0;
    padding: 0;
}

header nav {
    padding: .5rem 2rem;
}

.nav {
    display: none;
}

.hamburger {
    display: block;
}

.nav-item {
    margin-right: 1rem;
}

.nav-links {
    padding: 1rem .8rem;
    font-size: 1.125rem;
}

.nav-links:hover {
    color: var(--primary-color);
    transition: all .3s ease-in-out;
}

section {
    margin-bottom: 6rem !important;
    padding: 1rem;
}

/* header section ends here  */

/* banner section starts here */

/* .slider-1 {
    align-items: center;
} */

/* banner section ends here */

/* about us section starts here */

.video-image {
    width: 150px;
    position: absolute;
    bottom: 100px;
}

.btn-center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-icons {
    background-color: var(--bg-light);
    color: var(--primary-color);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.about-quote {
    padding: 2rem;
    margin: 2rem 0;
    background-color: var(--bg-light);
    border-left: 5px solid var(--primary-color);
    font-weight: 300;
}

/* about us section ends here */

/*statistics section starts here*/
#statistics {
    background-color: #F2F6F7;
    padding: 5rem 3rem;
    margin-bottom: 5rem;
}

.statistics-icons {
    font-size: 65px;
    color: var(--primary-color)
}

/*statistics section ends here*/

/* about-two section starts here  */
#about-two {
    margin-bottom: 5rem;
    padding: 3rem;
}

/* about-two section ends here  */

/* services section starts here  */
.card {
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    box-shadow: var(--services-card-shadow);
    /* border-bottom: 3px solid red; */
}

.card h3:hover {
    color: var(--primary-color);
    transition: color .3s ease-in-out;
}

.card:hover .link-btn {
    color: var(--primary-color);
    transition: color .3s ease-in-out;

}

/* services section ends here  */

/* properties section starts here */

.properties-card {
    box-shadow: var(--properties-card-shadow)
}

.properties-card .badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 14px;
    padding: 4px 8px;
}

.properties-card .location {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--secondary-color);
}

/* properties section ends here  */

/* appartement section starts here  */
.categories {
    flex-wrap: wrap
}

.categories p {
    font-size: 20px;
    /*para*/
    cursor: pointer;
}

.heading-2 {
    font-size: 35px;
}

.appartment-content {
    padding: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}


/* appartement section ends here  */

/*parallax section starts here*/
#parallax {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
        url('../assets/13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 55vh;
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
}

.pop-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*parallax section ends here*/


/*Aminities section starts here*/

.aminities-card {
    position: relative;
    text-align: center;
    border-radius: 8px;
    box-shadow: var(--aminities-card-shadow);
    margin-bottom: 1.5rem;
}

.aminities-card:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: color .3s ease-in-out;
}

.aminities-card:hover .arrow-btn span {
    color: var(--primary-color);
    transition: color .3s ease-in-out;
}

.aminities-card:hover .arrow-btn span {
    color: var(--secondary-color);
    transition: color .3s ease-in-out;
}

.aminities-card .icon {
    background-color: #FFF2F0;
    color: #FF5A3C;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.icon i {
    font-size: 45px;
}

.arrow-btn {
    position: absolute;
    bottom: -5px;
    height: 50px;
    width: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--secondary-color);
    box-shadow: var(--arrow-btn-shadow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn span {
    font-size: 30px;
}

/*Aminities section ends here*/


/*testimonials section starts here*/
#testimonials {
    background-color: #F8F7FC;
}

#testimonials .testimonial {
    padding: 1.5rem 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 10px 20px #F8F7FC;
}

/*testimonials section ends here*/


/*blogs and news section starts here*/

.blog-card {
    overflow: hidden;
    font-family: var(--nunito-font);
    box-shadow: var(--blog-card-shadow);
}

.blog-card img {
    height: 300px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.blog-card:hover img {
    transform: scaleX(1.2);
}

/*parallax section ends here*/

/*footer section starts here*/
footer {
    background-color: var(--footer-bg);
    color: var(--secondary-color);
}

.wrapper {
    padding: 3rem 1rem;
}

.footer-links li:not(:last-child) {
    margin-bottom: 1rem;
}

.footer-links li {
    position: relative;
    /* padding-left: 20px;  */
    transition: color 0.3s ease-in-out;
}

.footer-links li:hover {
    color: var(--primary-color);
}

.footer-links li::before {
    content: "//";
    position: absolute;
    left: -1rem;
    font-size: 16px;
    color: transparent;
    transition: color 0.3s ease-in-out, content 0.3s ease-in-out;
}

.footer-links li:hover::before {
    content: "//";
    color: var(--primary-color, #FF5A3C);
}

.footer-bottom {
    background-color: var(--bottom-footer-bg);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/*footer section ends here*/


/* responsive breakpoints  */
/* @media (min-width: 576px) {} */

@media (min-width: 768px) {
    :root {
        /* headings  */
        --heading-1: 1.875rem;
        --heading-3: 1.25rem;
    }

    /* section common spacing  */
    section {
        margin-bottom: 6rem;
        padding: 2rem;
    }

    /* appartment section  */
    .appartment-content {
        padding: 2rem;
    }

    /* about us section  */
    .video-image {
        width: 300px;
        position: absolute;
        bottom: 100px;
    }
}

@media (min-width: 992px) {
    :root {
        /* headings  */
        --heading-1: 1.875rem;
        --heading-3: 1.5rem;
    }

    /* header  */
    .nav {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    /* common section spacing  */
    section {
        margin-bottom: 6rem;
        padding: 3rem;
    }

    /* appartments section  */
    .appartment-content {
        padding: 3rem;
    }

    /* footer  */
    .footer-bottom {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    :root {
        /* headings  */
        --heading-1: 2.75rem;
        --heading-3: 1.5rem;
    }
}