/* reset styles  */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #FF5A3C;
    --secondary-color: #f0f;
    --dark-color: #071C1F;
    --text-light-color: #5C727D;

    /* ---------------typography------------ */
    /* headings  */
    --heading-1: 1.5rem;
    --heading-3: 1.2rem;
    /* paragraph  */
    --text-20: 1.25rem;
    --text-base: 1rem;
    --text-14: 0.875rem;
}

.body-font-family {
    font-family: "Nunito Sans", serif;
}

.my-container {
    max-width: 1280px;
    margin: 0 auto;
}

/* anchor color inherit  */
a {
    color: inherit;
}

/* color pallate  */
.text-dark {
    color: var(--dark-color)
}

.text-light {
    color: var(--text-light-color)
}

.white-color {
    color: #fff
}

.orange-bg-color {
    color: var(--primary-color);
}

.orange-text-color {
    color: var(--primary-color);
}

.bg-light {
    background-color: #F5DFDC;
}

.section-bg {
    background-color: #F2F6F7;
}

.navlinks-color {
    color: #071c1f;
}

/* flex  */
.flex {
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.flex-1{
    flex: 1;
}

/* verticall alignment center flex/grid  */
.align-center {
    align-items: center;
}

/* horizontally alignment between flex/grid  */
.justify-between {
    justify-content: space-between;
}

/* horizontally alignment center flex/grid  */
.justify-center {
    justify-content: center;
}

/* horizontally alignment right flex/grid  */
.justify-end {
    justify-content: end;
}

.section-name {
    background-color: #FFEEEB;
    color: #FF5A3C;
    padding: 5px 20px;
    border-radius: 25px;
    display: inline-block;
}

/* typography  */

/* font-size  */
.section-title {
    font-size: var(--heading-1);
}
.card-title{
    font-size: var(--heading-3)
}

/*btn classes*/

/* //todo font and padding to update  */ 

/* base btn class  */
 .btn {
    position: relative;
    font-size: 16px;
    padding: 12px 25px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-secondary {
    background-color: var(--light-color);
    border: 1px solid balck;
}

.btn-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary-color);
    font-size: 1.4rem;
    border: none;
    outline: none;

}
.btn-primary::before {
    background: var(--primary-color);
}

.btn-secondary::before {
    background: var(--secondary-color);
}
.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    color: black;
    border:1px solid black;
}

.btn:hover::before {
    transform: translateX(0);
}

.btn span {
    position: relative;
    z-index: 1;
}

.para-s-size {
    font-size: 12px;
}

.para-base-size {}

.para-md-size {}

.para-lg-size {}




























































/* header section starts here  */
header {
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(46, 56, 220, 0.2);
}

header figure {
    margin: 0;
    padding: 0;
}

header nav {
    padding: .5rem 2rem;
}

.nav {
    display: none;
}

.hamburger {
    display: block;
}

.nav-item {
    margin-right: 1rem;
}

.nav-links {
    padding: 1rem .8rem;
    font-size: 1.125rem;
}

.nav-links:hover {
    color: #FF5A3C;
    transition: all .3s ease-in-out;
}

section{
    margin-bottom: 6rem;
    padding: 5rem 3rem;
}
/* header section ends here  */

/* banner section starts here */
#banner {
    background-color: #F2F6F7;
    margin-bottom: 5rem;
}


.slider-1 {
    align-items: center;
}

/* banner section ends here */

/* about us section starts here */
#about {
    margin-bottom: 5rem;
}

.video-image{
    width: 150px;
    position: absolute;
    bottom: 100px;
}

.btn-center-align{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-icons{
    background-color: #F5DFDC;
    color: var(--primary-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}
.about-quote{
    padding: 2rem;
    margin: 2rem 0;
    background-color: #F5DFDC;
    border-left: 5px solid var(--primary-color);
    font-weight: 300;
}
/* about us section ends here */

/*statistics section starts here*/
#statistics {
    background-color: #F2F6F7;
    padding: 5rem 3rem;
    margin-bottom: 5rem;
}

.statistics-icons{
    font-size: 65px;
    color: var(--primary-color)
}
/*statistics section ends here*/

/* about-two section starts here  */
#about-two {
    margin-bottom: 5rem;
    padding: 3rem;
}

/* about-two section ends here  */

/* services section starts here  */


.card {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    /* border-bottom: 3px solid red; */
}
.card h3:hover{
    color: var(--primary-color);
    transition: color .3s ease-in-out;
}
.card:hover .link-btn{
    color: var(--primary-color);
    transition: color .3s ease-in-out;

}

/* services section ends here  */

/* properties section starts here */

#properties .properties-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

/* properties section ends here  */

/* appartement section starts here  */
#apartment {
    margin-bottom: 5rem;
    padding: 5rem 3rem;
}

#apartment .categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}

/* appartement section ends here  */

/*parallax section starts here*/
#parallax {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
        url('../assets/13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 55vh;
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
}

.pop-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*parallax section ends here*/


/*Aminities section starts here*/
#aminities {
    margin-bottom: 5rem;
    padding: 5rem 3rem;
}

#aminities .aminities-card {
    position: relative;
    text-align: center;
    border-radius: 8px;
    box-shadow: 3px 6px 7px lightgray;
}
#aminities .aminities-card:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: color .3s ease-in-out;
}

#aminities .aminities-card:hover i{
    color: var(--primary-color);
    transition: color .3s ease-in-out;
}

#aminities .aminities-card .icon {
    background-color: #FFF2F0;
    color: #FF5A3C;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.icon i{
    font-size: 45px;
}

.arrow-btn{
    position: absolute;
    bottom: -5px;
    height: 50px;
    width: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-btn span i{
    font-size: 30px;
}

/*Aminities section ends here*/


/*testimonials section starts here*/
#testimonials {
    margin-bottom: 5rem;
    background-color: #F8F7FC;
    padding: 5rem 3rem;
}

#testimonials .testimonial {
    padding: 1.5rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 20px #F8F7FC;
}

/*testimonials section ends here*/


/*blogs and news section starts here*/
#blogs {
    margin-bottom: 5rem;
    padding: 5rem 3rem;
}

.blog-card {
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
}
.blog-card img{
    height: 300px;
}
.blog-card:hover img{
    transform: scaleX(1.2);
    transition: all .3s ease-in-out;
}

/*parallax section ends here*/

@media (min-width: 576px) {}

@media (min-width: 768px) {
    :root {
        /* headings  */
        --heading-1: 1.875rem;
    /* --heading-3: 1.2rem; */

    }
    .video-image{
        width: 300px;
        position: absolute;
        bottom: 100px;
    }
}

@media (min-width: 992px) {
    :root {
        /* headings  */
        --heading-1: 2.75rem;
    --heading-3: 1.5rem;

    }

    .nav {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}

@media (min-width: 1200px) {}





/*footer section starts here*/
footer {
    background-color: #171B2A;
    color: #fff;
}

.wrapper {
    padding: 5rem 3rem;

}

.footer-bottom {
    background-color: #282B38;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.footer-bottom ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*footer section ends here*/